#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.footer {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(196, 194, 194);
}
